<div class="background-filter">
   <div class="container">
      <div class="row">
         <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="card card-signup">
              <%= form_for :password_reset, url: password_resets_path do |f| %>
                <%= render "shared/error_messages" %>
                  <div class="header header-primary text-center">
                    <h4><%= t "password_resets.title" %></h4>
                  </div>
                  <div class="content">
                    <div class="input-group">
                      <span class="input-group-addon">
                      <i class="material-icons">email</i>
                      </span>
                      <%= f.email_field :email, class: "form-control", placeholder: t("email") %>
                    </div>
                  </div>
                  <div class="footer text-center">
                    <%= f.submit t("password_resets.submit"), class: "btn btn-white" %>
                  </div>
              <% end %>
            </div>
         </div>
      </div>
   </div>
</div>
