<div class="container">
  <div class="row catergory-list">
    <ul class="nav nav-pills">
      <% @home.categories.each do |category| %>
        <li role="presentation" class="<%= current_class? category_path(category) %>" >
          <%= link_to category.title, category %>
        </li>
      <% end %>
      <li class="dropdown pull-right filter-btn">
        <p><%= t "app.sort_product.title" %></p>
        <button class="btn btn-round" type="button" data-toggle="dropdown">
          <%= t "app.sort_product.default" %><span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#"><%= t "app.sort_product.default" %></a></li>
          <li><a href="#"><%= t "app.sort_product.food" %></a></li>
          <li><a href="#"><%= t "app.sort_product.drink" %></a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
