<% provide(:button_text, t("admin.order.edit.submit")) %>
<div class="col-md-4">
  <%= render  "shared/error_messages" %>
  <div class="card">
    <div class="card-header" data-background-color="purple">
       <h4 class="title"><%= t "admin.categories.edit.title" %></h4>
    </div>
    <div class="card-content">
        <%= form_for [:admin, @order] do |f| %>
          <div class="col-md-12">
              <div class="form-group label-floating is-empty">
                <%= f.select :status, [[t("admin.order.edit.status.delivered"), true],[t("admin.order.edit.status.not_delivery"), false]], {}, class: "form-control" %>
                <span class="material-input"></span>
              </div>
          </div>
          <%= f.submit yield(:button_text), class: "btn btn-primary pull-right" %>
          <div class="clearfix"></div>
        <% end %>
    </div>
  </div>
</div>
