<div class="modal-content">
  <% if cart_available? %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel"><%= t "app.cart.title" %></h4>
      <p class="text-muted"><%= t "app.cart.your_current_cart" %><%= pluralize cart_total_items, "item" %><%= t "app.cart.in_your_cart" %></p>
    </div>
    <%= form_tag carts_update_path, remote: true do %>
      <div class="modal-body">
        <div class="box">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th colspan="2"><%= t "app.cart.product" %></th>
                  <th><%= t "app.cart.quantity" %></th>
                  <th><%= t "app.cart.unit_price" %></th>
                  <th><%= t "app.cart.total" %></th>
                  <th><%= t "app.cart.action" %></th>
                </tr>
              </thead>
              <tbody id="cart-item-list">
                <%= render cart_items %>
              </tbody>
              <tfoot>
                <tr>
                  <th colspan="4"><%= t "app.cart.total" %></th>
                  <th colspan="2"><%= currency_for cart_total_price %></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>          
      </div>
      <div class="modal-footer text-center">
        <%= link_to t("app.cart.checkout"), checkout_path, id: "btn-checkout", class: "btn btn-info btn-simple pull-left" %>
        <%= link_to t("app.cart.go_to_cart"), cart_details_path, id: "btn-go-to-cart", class: "btn btn-info btn-simple" %>
        <button id="btn-cart-save" type="submit" class="btn btn-default btn-simple"><%= t "app.cart.save" %></button>
      </div>
    <% end %>
  <% else %>
    <div class="modal-header text-center">
      <h2 class="modal-title h1" id="myModalLabel"><i class="fa fa-shopping-cart"></i></h2>
      <p class="text-muted h4"><%= t "app.cart.empty_title" %></p>
    </div>
  <% end %>
</div>
