<nav class="navbar navbar-fixed-top" role="navigation">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
         <span class="sr-only"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a href="/">
            <div class="logo-container">
               <div class="logo">
                  <%= image_tag "logo/logo.png"%>
               </div>
            </div>
         </a>
      </div>
      <div class="collapse navbar-collapse" id="collapse">
         <ul class="nav nav-pills nav-pills-primary navbar-right tablist" role="tablist">
            <% if loged_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" role="tab" data-toggle="dropdown">
                  <i class="fa fa-users" aria-hidden="true"></i>
                  <%= t "app.user.profile" %><span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to user_profiles_path do %>
                    <i class="fa fa-user"></i>
                    <%= t "app.user.profile" %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to user_orders_path do %>
                    <i class="fa fa-cart-arrow-down"></i>
                    <%=  t "app.user.order" %>
                    <% end %>
                  </li>
                  <% if current_user.admin? %>
                    <li>
                      <%= link_to admin_path do %>
                        <i class="fa fa-dashboard"></i>
                        <%=  t "app.user.admin" %>
                      <% end %>
                    </li>
                  <% end %>
                  <li>
                    <%= link_to logout_path do %>
                    <i class="fa fa-sign-out"></i>
                    <%= t "app.user.sign_out" %>
                    <% end %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li>
                <%= link_to login_path, data: {role: "tab", toggle: "tab"} do %>
                <i class="fa fa-user"></i>
                <%= t "app.login_register" %>
                <% end %>
              </li>
            <% end %>
            <li data-toggle="modal" data-target="#cart">
               <a href="#schedule" role="tab" data-toggle="tab">
                  <div id="notification">
                     <% if cart_total_items %>
                     <span class="notification-bubble"><%= cart_total_items %></span>
                     <% end %>
                  </div>
                  <i class="fa fa-shopping-cart"></i>
                  <%= t "app.user.your_cart" %>
               </a>
            </li>
         </ul>
         <ul class="nav navbar-nav pull-right">
            <form class="form-inline form-search">
               <input type="text" class="form-control" placeholder="<%= t "app.search_for" %>">
               <button class="btn btn-round btn-just-icon" type="button">
               <i class="fa fa-search"></i>
               </button>
            </form>
         </ul>
      </div>
   </div>
</nav>
<!-- Cart detail -->
