<%= form_for [:admin, @category] do |f| %>
  <div class="row">
     <div class="col-md-8">
        <div class="form-group label-floating">
           <label class="control-label"><%= t "admin.categories.name" %></label>
           <%= f.text_field :title, class: "form-control" %>
           <span class="material-input"></span>
        </div>
     </div>
     <div class="col-md-3">
        <div class="form-group label-floating is-empty">
           <%= f.select :category_type, [[t("admin.categories.food"), true],[t("admin.categories.drink"), false]], {}, class: "form-control" %>
           <span class="material-input"></span>
        </div>
     </div>
  </div>
  <%= f.submit yield(:button_text), class: "btn btn-primary pull-right" %>
  <div class="clearfix"></div>
<% end %>
