<div class="col-md-12">
   <%= render "shared/flash_messages"%>
   <div class="col-md-3">
    <%= form_tag admin_categories_path, method: :get do %>
      <%= select_tag :category_type, options_for_select([[t("admin.categories.all"), ""],[t("admin.categories.food"), "food"],[t("admin.categories.drink"), "drink"]]), class: "form-control", :onchange => "this.form.submit();"  %>
    <% end %>
   </div>
   <div class="btn-action col-md-9">
      <%= link_to t("admin.categories.btnAdd"), new_admin_category_path, class: "btn btn-success btn-add"%>
   </div>
   <div class="card">
      <div class="card-header" data-background-color="purple">
         <h4 class="title"><%= t "admin.categories.title" %></h4>
      </div>
      <div class="card-content table-responsive">
         <table class="table">
            <thead>
               <tr>
                  <th class="text-center"><%= t "admin.categories.id" %></th>
                  <th><%= t "admin.categories.name" %></th>
                  <th><%= t "admin.categories.product" %></th>
                  <th><%= t "admin.categories.type" %></th>
                  <th class="text-right th-action"><%= t "admin.categories.action" %></th>
               </tr>
            </thead>
            <tbody>
               <% @categories.each_with_index do |category, index| %>
                  <tr>
                     <td class="text-center"><%= number_index index %></td>
                     <td><%= category.title %></td>
                     <td><%= category.products.size %></td>
                     <td><%= category.type %></td>
                     <td class="td-actions text-right">
                        <button type="button" rel="tooltip" title="<%= t "admin.categories.table.edit"%>" class="btn btn-success btn-simple btn-xs">
                          <%= link_to edit_admin_category_path(category) do %>
                            <i class="material-icons">edit</i>
                          <% end %>
                        </button>
                        <button type="button" rel="tooltip" title="<%= t "admin.categories.table.delete"%>" class="btn btn-danger btn-simple btn-xs">
                          <%= link_to admin_category_path(category), method: :delete, data: {confirm: t("admin.categories.table.delete_confirm")} do %>
                            <i class="material-icons">delete</i>
                          <% end %>
                        </button>
                     </td>
                  </tr>
               <% end %>
            </tbody>
         </table>
         <%= paginate @categories %>
         <%= page_entries_info @categories if @categories.blank? %>
      </div>
   </div>
</div>
