<div class="row">
  <div class="col-md-3 filter">
    <div class="filter-group">
      <p><%= t "app.filter.price.title" %></p>
      <div class="checkbox">
        <label><input type="checkbox" name="optionsCheckboxes"><span><%= t "app.filter.price.level_1" %></span></label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="optionsCheckboxes"><span><%= t "app.filter.price.level_2" %></span></label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="optionsCheckboxes"><span><%= t "app.filter.price.level_3" %></span></label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="optionsCheckboxes"><span><%= t "app.filter.price.level_4" %></span></label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="optionsCheckboxes"><span><%= t "app.filter.price.level_5" %></span></label>
      </div>
    </div>
    <div class="filter-group">
      <p><%= t "app.filter.rating.title" %></p>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="optionsCheckboxes">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="optionsCheckboxes">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="optionsCheckboxes">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="optionsCheckboxes">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="optionsCheckboxes">
          <i class="fa fa-star"></i>
        </label>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card-group">
      <div class="row">
        <%= render @category.products %>
      </div>
    </div>
  </div>
</div>
<div class="row text-center">
  <%= paginate @category.products, left: 1, right: 5 %>
</div>
