<div class="col-md-12">
  <div class="product-thumbnail">
    <div class="row">
        <div class="col-md-6">
          <%= image_tag  @product.image.url , class: "img-respond" %>
        </div>
        <div class="col-md-6">
          <div class="box">
              <h2 class="text-center"><%= @product.title %></h2>
              <div class="product-description">
                <%= @product.description %>
              </div>
              <p class="product-price text-center"><%= currency_for @product %></p>
              <div id="product-rating" class="product-rating text-center">
                <% if loged_in? && @rating %>
                  <%= render "ratings/edit_form" %>
                <% else %>
                  <%= render "ratings/new_form" %>
                <% end %>  
                </div>
              <div class="row text-center buttons">
                <%= form_tag(carts_path , remote: true) do %>
                  <%= hidden_field_tag :product_id, @product.id %>
                  <span class="add-to-cart quantity-<%= @product.id %>"><%= quantity_of @product %></span>
                  <button type="submit" class="btn btn-primary btn-cart">
                  <i class="fa fa-shopping-cart"></i><%= t "product.add_to_cart" %>
                  </button>
                <% end %>
                <%= link_to cart_details_path, class: "btn btn-info" do %>
                  <%= t "product.go_to_cart" %><i class="fa fa-chevron-right "></i>
                <% end %>
              </div>
          </div>
        </div>
    </div>
  </div>
  <div class="details">
    <blockquote>
        <h4>Product details</h4>
        <p>
          <%= @product.description %>
        </p>
    </blockquote>
  </div>
  <div class="card-group related-products">
    <% if @product_support.relateds.present? %>
      <h2><%= t "product.you_may_like" %></h2>
      <div class="row">
        <%= render @product_support.relateds %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="comments">
          <% if @product_support.comments.present? %>
            <h3><%= t "comment.title" %></h3>
            <div class="comment-list">
              <%= render @product_support.comments %>
            </div>
          <% else %>
            <p class="h4"><%= t "comment.first" %>.</p>
          <% end %>
          <%= render "comments/form" %>
        </div>
    </div>
  </div>
</div>
